/* Stili per la barra superiore */
.top-bar {
  background-color: #2c3434;
  color: #fff;
  height: 50px;
  padding: 10px;
}

/* Stili per la barra laterale */
.slidebar {
  background-color: #2c3435;
  width: 200px;
  float: left;
  height: 100000vh; /* Altezza pari all'intera altezza della viewport */
}

/* Stili per il contenuto principale */
main {
  margin-left: 220px; /* Larghezza della barra laterale + margine */
  padding: 20px;
}

/* Stili per il piè di pagina */
.footer {
  background-color: #DC143C;
  color: #fff;
  height: 50px;
  padding: 10px;
  clear: both; /* Pulisce i float precedenti */
}
